.dialog-overlay {
	BACKGROUND: gray; -ms-filter: alpha(opacity=50); opacity: 0.5
}
.dialog {
	margin:0px; padding:0px;
	width:166px;height: 22px;
	 BACKGROUND: gray; FILTER: alpha(opacity:70);  opacity: 0.9; padding-top:0px;

}
.dialog .content {
	position: relative;
	top:-60px;
	padding: 0 ;
	margin: 0;
	width:150px;height:30px;
	BACKGROUND: #fff; 

}
